.container_todolist {
    background-color:#8ecae6;
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_todolist h2 {
    margin-bottom: 25%;
}
.input_todolist {
    display: flex;
    max-height: 15%;
}