.button{
    background-color: #ffb803c8;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color: #023047;
    background-color:#fb8500;
}